@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');



:root {
    --primaria: #F806CC;
    --secundaria: #a91079;
    --fundo: #1C0A21;
    --fundo2: #140718;
    --texto: #ccc;
    --footer: #2f2f2f;
    --fontNeon: 'Tilt Neon'
}


body {
    background-color: #1C0A21;
    color: var(--texto);
    height: 100%;

}

h3 {
    background-color: var(--secundaria);
    overflow: hidden;
    border-right: 0.15em solid var(--primaria);
    white-space: nowrap;
    font-size: 2em;
    letter-spacing: 0.15em;
    animation: typing 4s steps(28) alternate infinite;
}

.h2-titulos {
    color: #fff;
    text-shadow: 0 0 10px #F806CC, 0 0 20px #F806CC, 0 0 30px #F806CC, 0 0 40px #F806CC;
    font-family: var(--fontNeon);
    font-size: 50px;
    margin-bottom: 40px;
}

.navbar-logo {
    color: var(--texto);
    font-size: 30px;
}

.navbar-nav {
    margin-right: 10px;
    font-size: 22px;
}

.navbar-custom {
    backdrop-filter: blur(10px) opacity(0.8);
    -webkit-backdrop-filter: blur(10px) opacity(0.8);
    background-color: #2f2f2f59;
}

.container-custom {
    background-color: var(--fundo);
    padding-top: 150px;
    padding-bottom: 90px;

}

.bio {
    margin-top: 50px;
    margin-bottom: 25px;
}

.bio h1 {
    font-size: 35px;
}

.bio h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bio h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bio p {
    font-size: 18px;
    line-height: 1.5;
}

.container-sobre-mim {
    background-color: #0F070E;
    padding-top: 150px;
    padding-bottom: 200px;
}

.bio-sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-perfil {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.btns {
    width: 40%;
    border-radius: 5em;
}

.btn-cv {
    background-color: transparent;
    color: var(--primaria);
    border-color: var(--primaria);
}

.btn-cv:hover {
    background-color: var(--primaria);
    border-color: var(--secundaria);
    box-shadow: 0px 0px 8px rgba(248, 6, 204, 0.683);
}

.btn-contato {
    background-color: var(--secundaria);
    border-color: var(--secundaria);
}

.btn-contato:hover {
    background-color: var(--primaria);
    border-color: var(--secundaria);
    box-shadow: 0px 0px 8px rgba(248, 6, 204, 0.683);
}

.container-habilidades {
    background-color: var(--fundo);
    padding-top: 80px;
    padding-bottom: 150px;
}

.border-habilidades {
    background-color: var(--fundo2);
    border: solid 1px var(--primaria);
    border-radius: 20px;
    box-shadow: 0 0 1px var(--primaria), 0 0 2px var(--primaria), 0 0 3px var(--primaria), 0 0 4px var(--primaria);
    animation: neon-border 0.8s ease-in-out infinite alternate;
}

@keyframes neon-border {
    from {
        box-shadow: 0 0 3px var(--primaria), 0 0 7px var(--primaria), 0 0 15px var(--primaria), 0 0 20px var(--primaria);
    }

    to {
        box-shadow: 0 0 7px var(--primaria), 0 0 15px var(--primaria), 0 0 25px var(--primaria), 0 0 30px var(--primaria);
    }
}




.icon {
    background-color: #0F070E;
    border: solid 2px #0F070E;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: saturate(100%);
    width: 10rem;
    height: 10rem;
    margin: 30px;
}

.icon:hover {
    border: solid 2px var(--primaria);
    box-shadow: 0px 0px 8px rgba(248, 6, 204, 0.933);
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* Filtro perfil2 */
.image-container {
    display: inline-block;
    position: relative;
    line-height: 0;
    background: #ffffff;
}

.image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    background: var(--primaria);
    opacity: 0.5;
}

.image-container>img {
    -webkit-filter: brightness(100%) contrast(100%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
    filter: brightness(100%) contrast(100%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
    mix-blend-mode: none;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
}

/* Estilizando o track (o fundo da barra de rolagem) */
::-webkit-scrollbar-track {
    background: #1C0A21;
    /* Cor do fundo */
}

/* Estilizando o thumb (a alça da barra de rolagem) */
::-webkit-scrollbar-thumb {
    background: #570A57;
    /* Cor da alça */
}

/* Estilizando o thumb quando o usuário estiver interagindo com ele (hover ou active) */
::-webkit-scrollbar-thumb:hover {
    background: #570A57;
    /* Cor da alça */
}

@keyframes typing {
    from {
        width: 0;
    }

    /* inicia com largura 0 */
    to {
        width: 80%;
    }

    /* termina com largura 100% */
}

@media (max-width: 767px) {

    .navbar-toggler-icon {
        background-color: rgb(30, 18, 48);
    }

    .bio {
        margin-top: 20px;
    }

    .bio h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .bio p {
        font-size: 16px;
    }

    .btns {
        width: 100%;
        margin-right: 100px;
        border-radius: 5em;
    }
}