@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

:root {
  --white-color: #f9e1d1;
  --dark-color: #353535;
  --primary-color: #ffd6ba;
  --secondary-color: #d3b5f3;
  --section-bg-colo-primary: #3f3b3f;
  --section-bg-colo-secondary: #ffd6ba;
  --custom-btn-bg-color: #0081a7;
  --custom-btn-bg-hover-color: #4dfff3;
  --p-color: #dddddd;
  --border-color: #7fffd4;
  --link-hover-color: #89429e;

  --html5-color: #FA502E;
  --css3-color: #004AE1;
  --javascript-color: #F7D800;
  --bootstrp-color: #7917F0;
  --react-color: #66DBFB;
  --node-color: #87CF30;
  --sass-color: #C66394;
  --wordpress-color: #087AA0;

  --body-font-family: sans-serif;

  --h1-font-size: 120px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --btn-font-size: 14px;
  --copyright-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

body {
  font-family: 'Oswald';
}

/* TECNOLOGIAS CORES */
.html5-color {
  color: var(--html5-color);
}

.css3-color {
  color: var(--css3-color);
}

.javascript-color {
  color: var(--javascript-color);
}

.bootstrp-color {
  color: var(--bootstrp-color);
}

.react-color {
  color: var(--react-color);
}

.node-color {
  color: var(--node-color);
}

.sass-color {
  color: var(--sass-color);
}

.wordpress-color {
  color: var(--wordpress-color);
}

/* NAVBAR */
.navbar {
  padding: 5px 0;
}

.navbar-brand img {
  height: 100%;
  width: 180px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-nav .nav-item {
  margin-right: 12px;
}

.nav-link {
  font-size: 18px;
  color: var(--primary-color);
}

.nav-link:hover {
  color: var(--secondary-color);
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: width 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
  transform: scaleX(1);
}

/* APRESENTAÇÃO */
.portfolio-section {
  padding: 80px 0;
  background: var(--section-bg-colo-primary);
}

.portfolio-text span {
  font-size: 4em;
  color: var(--secondary-color);
}

.portfolio-text h1 {
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.portfolio-text h2 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.portfolio-text p {
  font-size: 1.2em;
  line-height: 2;
  color: var(--p-color);
}

.italo-image img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.icon {
  font-size: 55px;
  color: var(--secondary-color);
}

.icon:hover {
  color: var(--link-hover-color);
  transition: 0.7s;
}

/* TECNOLOGIAS */
.technology-section {
  background: var(--section-bg-colo-secondary);
  padding: 80px 0;
}

.technology-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.row-technology {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-section {
  width: 100%;
  max-width: 160px;
  margin-bottom: 20px;
  text-align: center;
}

.technology-item {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 10px;
}

.technology-item i {
  font-size: 50px;
  margin-bottom: 20px;
  transition: font-size 1s;
}

.technology-item h4 {
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
}

/* PORTFOLIO */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.portfolio-image {
  flex: 0 0 50%;
  max-width: 50%;
}

.portfolio-image img {
  display: block;
  width: 100%;
}

.portfolio-description {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 30px;
}

.portfolio-description h3 {
  font-size: var(--h3-font-size);
  color: var(--white-color);
  margin-bottom: 10px;
}

.portfolio-description p {
  margin-bottom: 20px;
}

.portfolio-description .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  text-decoration: none;
  border-radius: 5px;
  border: transparent;
}

.portfolio-description .btn:hover {
  background-color: var(--secondary-color);
}


/* FORMAÇÃO */

.formacao-section {
  background-color: var(--section-bg-colo-primary);
  padding: 80px 0;
  background-image: url('../images/bg.svg');
  background-position: center;
  background-size: cover;
}

.formacao-section h2 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--white-color);
}

.row-formacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-section {
  width: 100%;
  max-width: 320px;
  margin-bottom: 20px;
  text-align: center;
}

.formacao-item {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 10px;
}

.img-universidade {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.formacao-item h4 {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
}

/* FOOTER */

.footer-section {
  padding: 60px 0;
  background-color: var(--dark-color);
  color: #f9e1d1;
}

.footer-section h4 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-section ul {
  margin-bottom: 20px;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--white-color);
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: var(--secondary-color);
}

.footer-section p {
  font-size: 16px;
  line-height: 1.5;
}

.footer-section i {
  margin-right: 10px;
}

@media (max-width: 768px) {

  /* NAVBAR */
  .navbar-brand {
    font-size: 20px;
  }

  .navbar-nav .nav-item {
    margin-right: 10px;
  }

  .nav-link {
    font-size: 16px;
  }

  /* APRESENTAÇÃO */
  .portfolio-text span {
    font-size: 2em;
  }

  .portfolio-text h1 {
    font-size: 6.5em;
  }

  .portfolio-text h2 {
    font-size: 4em;
  }

  .portfolio-text p {
    font-size: 16px;
  }

  .icon {
    font-size: 40px;
  }

  /* PORTFOLIO */
  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-image,
  .portfolio-description {
    flex: 1 1 auto;
    max-width: 100%;
  }

  .portfolio-description {
    padding: 20px;
    text-align: center;
  }

  .portfolio-description h3 {
    font-size: 20px;
  }

  .portfolio-description .btn {
    display: block;
    margin-top: 20px;
  }

  /* TECNOLOGIAS */
  .technology-section {
    padding: 80px 0;
  }

  .technology-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .icon-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .technology-item {
    width: 150px;
    margin: 10px;
    padding: 10px;
  }

  .technology-item i {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .technology-item h4 {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--dark-color);
  }

  /* FORMAÇÃO */
  .formacao-section {
    padding: 80px 0;
  }

  .formacao-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .img-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .formacao-item {
    width: 250px;
    margin: 10px;
    padding: 10px;
  }

  .formacao-item h4 {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--dark-color);
  }
}